body {
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	background-color: gray;
	padding-top: 10px;
}

header{
	padding-bottom:20px;
}

.Navigation {
	text-align: center;
}

p{
	margin-bottom: 90px;
	border-bottom: solid 1px black;
	padding-bottom: 65px;
}

h2{
	margin-top: -2px;
	border-top: 1px solid black;
	padding-top: 63px;
}
.Description {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding-top: 30px;
	padding-bottom: 30px;
}

.Description{
	float: left;
	width: 50%;
}

img {
	float:right;
}

footer{
	padding-bottom: 50px;
	text-align: center;
}